// *********************************************************************
//
// ADOBE SYSTEMS INCORPORATED
// Copyright (C) 2005-2006 Adobe Systems Incorporated
// All rights reserved.
//
// NOTICE: Adobe permits you to use, modify, and distribute this file
// in accordance with the terms of the Adobe license agreement
// accompanying it. If you have received this file from a source other
// than Adobe, then your use, modification, or distribution of it
// requires the prior written permission of Adobe.
//
// *********************************************************************
// Deployment location
PRODUCT_DEPLOYMENT_LOCATION = bin/debug

#include "ProjectConfigurations/ProjectDefault.xcconfig"
#include "../../PluginSupport/Headers/SDK/MacSDKConfigurations/Debug.xcconfig"
