<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PDFLisp</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0, ¬©2022, Chun Tian (binghe).  All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.binghe.PDFLisp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleLongVersionString</key>
	<string>1.0, Copyright 2022, Chun Tian (binghe).  All rights reserved.</string>
	<key>CFBundleName</key>
	<string>PDFLisp</string>
	<key>CFBundlePackageType</key>
	<string>XTNc</string>
	<key>CFBundleShortVersionString</key>
	<string>PDFLisp 1.0</string>
	<key>CFBundleSignature</key>
	<string>CARO</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>MainEntryPointV2</key>
	<string>AcroPluginMain</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2022, Chun Tian (binghe).  All rights reserved.</string>
</dict>
</plist>
