<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Starter</string>
	<key>CFBundleGetInfoString</key>
	<string>Starter version 1.0, Copyright © 2018 Chun Tian (binghe)</string>
	<key>CFBundleIdentifier</key>
	<string>chun.Starter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>8.0</string>
	<key>CFBundleName</key>
	<string>Starter</string>
	<key>CFBundlePackageType</key>
	<string>XTND</string>
	<key>CFBundleShortVersionString</key>
	<string>Starter version 1.0</string>
	<key>CFBundleSignature</key>
	<string>CARO</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSPrefersCarbon</key>
	<true/>
	<key>MainEntryPoint</key>
	<string>main</string>
</dict>
</plist>
